h1{
    font-family: "Indie Flower", sans-serif;
    background-color:teal;
    color: white;
}
body{
    font-family: "RocknRoll One", sans-serif;
    background-color:rgb(193, 248, 246);
    height: 100vh;
    text-align: center;
}
ul{
list-style-type: none;
}
footer{
    background-color: teal;
    color: white;
}
.cart{
    background-color: whitesmoke;
    padding: 1%;
}
.cart_lst{
    display: flex;
    justify-content: space-evenly; 
}

.name{
    display: block;
}


@media screen and (min-width:640px){

.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.image_left{
    grid-column: 1/2; 
}



.image_right{
    grid-column: 2/3; 
}


ul{
    display: flex;
    justify-content: space-evenly; 
    font-size: small;
}





} 